maxmemory {{ getenv "REDIS_MAXMEM" "100mb" }}
timeout {{ getenv "REDIS_TIMEOUT" "0" }}
requirepass {{ getenv "REDIS_PASSWORD" "ChangeMePassword123456789" }}
dbfilename dump.rdb
dir /data
include /data/redis.conf
