<?php
$CONFIG = array ({{ if exists "/redis/hostname" }}
'redis' => array(
  'host' => '{{ getenv "REDIS_HOSTNAME" }}',
  'timeout' => {{ getenv "REDIS_TIMEOUT" "0.0" }},
  'password' => '{{ getenv "REDIS_PASSWORD" "ChangeMePassword123456789" }}',
      ),
{{ end }});
